<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>江苏省卫生监督业务系统</title>
    <script src="jquery-3.2.1.js"></script>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        window.onload = function () {
            //alert("页面加载完成");
            selectAllSection();
        }

        //查询所有科室数据
        function selectAllSection() {
            $.ajax({
                url: "/sectionList",
                type: "get",
                success: function (sectionlist) {
                    console.log(sectionlist);
                    let str = "";
                    $.each(sectionlist, function () {
                        console.log(this);
                        str += "<tr>";
                        str += "<td>" + this.id + "</td>";
                        str += "<td>" + this.orgId + "</td>";
                        str += "<td>" + this.divCode + "</td>";
                        str += "<td>" + this.divNameCode + "</td>";
                        str += "<td>" + this.divName + "</td>";
                        str += "<td>" + this.ifSub + "</td>";
                        str += "<td>" + this.dutyTel + "</td>";
                        str += "<td>" + this.fax + "</td>";
                        str += "<td>" + this.divRoomNo + "</td>";
                        str += "</tr>";
                    });
                    $("#tab").html(str);
                },
                error: function () {
                    alert("请求失败!");
                }
            });
        }
    </script>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>机构id</th>
        <th>科室编码</th>
        <th>科室名称编码</th>
        <th>科室名称代码</th>
        <th>是否为分所0=否 1=是</th>
        <th>电话号码</th>
        <th>传真号码</th>
        <th>门号</th>
        <th colspan="2">操作</th>
    </tr>
    </thead>
    <tbody id="tab">
    </tbody>
</table>


<form action="" method="post" id="delSection">
    <input type="hidden" name="_method" value="delete">
</form>

</body>
</html>